* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: orangered;
  }
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
}

.card {
  display: flex;

  width: 80%;
  height: 500px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 20px;
  border: none;
  overflow: hidden;

  margin: 100px auto;

  h1 {
    color: hsl(0, 0%, 100%);
    font: 700;
    font-family: "Inter";
    font-size: 35px;
    margin-bottom: -80px;
  }
}
.container {
  display: flex;
  justify-content: space-around;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  margin-right: 40px;

  p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    font-family: "Inter";
    line-height: 1.6rem;
  }

  h2 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
  }

  span {
    color: hsl(277, 64%, 61%);
  }
}
.card-info-stats {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  p {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
  }
}
.card-img {
  background: linear-gradient(to right, hsla(278, 68%, 22%, 0.5)),
    url("/images/image-header-desktop.jpg") no-repeat center / cover;

  width: 50%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
}

.attribution {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin-left: 5px;
    color: aqua;
  }
}

@media (max-width: 1050px) {
  .card {
    display: flex;
    flex-direction: row;
    height: 350px;

    p {
      margin-bottom: 20px;
      font-size: 10px;
    }

    h1 {
      color: hsl(0, 0%, 100%);
      font: 700;
      font-family: "Inter";
      font-size: 20px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 16px;
    }
    .card-info-stats {
      margin-top: 60px;
    }
  }
  .card-info {
    padding: 30px;
  }
}
@media (max-width: 787px) {
  .card {
    margin: 30px auto;
    display: flex;
    flex-direction: column-reverse;
    height: 600px;

    p {
      margin-bottom: 0px;
    }
  }
  .card-img {
    height: 50%;
    width: 100%;
  }
  .attribution {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    align-items: center;

    a {
      margin-left: 5px;
    }
  }
}
@media (max-width: 400px) {
  .card {
    height: 700px;
  }
}
